.navbar {
  height: 10vh;
  background-color: #9796f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scores {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score {
  font-family: 'Roboto';
  margin-right: 30px;
  color: #ffffff;
  font-weight: 1000;
  font-size: 15px;
}
.title {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 1000;
  font-size: 15px;
}
.emoji-logo {
  height: 30px;
  width: 30px;
}
.top-score {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 1000;
  font-size: 15px;
}
.text {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 1000;
  font-size: 20px;
}
.card {
  display: flex;
  align-items: center;
}
